*{
    margin: 0;
    padding: 0 0 1px 0;
}

body {
   font-family: 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-weight: 600;    
}

nav ul li {
    list-style: none;
}

nav li {
    display: inline;
    padding-top: 1px;
}

header.top-page {
    height: 125px;
    width: auto;
    background-color: #ffffff;
    border-width: 1px;
    border-bottom: solid #000000;
}

nav.top-nav {
    height: 75px;
    width: auto;
    background-color: #ffffff;
    border-width: 1px;
    border-bottom: solid #000000;

}

nav.top-nav li {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-right-style: solid;
    border-right-width: 2px;
}

span.day {
    color: #808080;
    font-style: italic;
}

article p {
    margin-top: 50px;
}


